@page "/"
<MudPaper Class="pa-16 ma-2" Elevation="25" Height="150%">
    <PageTitle>Strona głównka</PageTitle>

    <h1><center>Praca Magisterska</center></h1>

    <MudPaper Class="pa-16 ma-2" Elevation="15">
    <H3>Temat pracy:</H3>
    <MudSpacer />
    <h2>"Analiza porównawcza narzędzi do testów oprogramowania dla potrzeb złożónego systemu informatycznego"</h2>
    </MudPaper>
</MudPaper>
<footer Class="pa-5 mb-0" Style="height:100%; width:100%; margin:0; position:fixed;">
    <span Style="position: fixed;
        bottom: 0;
        padding: 5px;
        left: 45%;
        width: 100%;">&copy;  Jakub Kamil Łuka @DateTime.Now.Year</span>
</footer>