@page "/about"
<MudPaper Class="pa-8 ma-2" Elevation="3">
    <MudPaper Class="pa-8 ma-2" Elevation="3">
        <h3 style="text-align: center;">"Analiza porównawcza narzędzi do testów oprogramowania dla potrzeb złożónego systemu informatycznego"</h3>
    </MudPaper>
    <MudSpacer />
    <MudPaper Class="pa-8 ma-2" Elevation="3">
        <h3 style="display: inline;"> Praca dyplomowa napisana w </h3>
            <h2 style="background: linear-gradient(to right, #f32170, 
                        #ff6b08, #cf23cf, #eedd44); 
                        -webkit-text-fill-color: transparent; 
                        -webkit-background-clip: text;
                        display: inline;">
            
            Instytucie Informatyki </h2>
        <h3 style="display: inline;">pod kierunkiem profesora Andrzeja Barczaka.</h3>
    </MudPaper>
    <MudSpacer />



</MudPaper>