@page "/warehouse"

<PageTitle>Zarządzanie magazyem</PageTitle>

<h1>Magazyn</h1>

<p role="status">Obecny stan magazynu: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}