@page "/order"

<PageTitle>Zarządzanie zamówieniami</PageTitle>

<h1>Zamówenia</h1>

<p role="status">Obecne zamówienia: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
